{
  "plugins": [
    "stylelint-order"
  ],
  "rules": {
    "order/properties-order": [
      [
        "position",
        "top",
        "right",
        "bottom",
        "left",
        "display",
        "grid-template-columns",
        "grid-template-rows",
        "grid-template-areas",
        "grid-template",
        "grid-auto-columns",
        "grid-auto-rows",
        "grid-auto-flow",
        "grid",
        "grid-area",
        "grid-column-start",
        "grid-column-end",
        "grid-column",
        "grid-row-start",
        "grid-row-end",
        "grid-row",
        "justify-items",
        "align-items",
        "place-items",
        "justify-content",
        "align-content",
        "place-content",
        "flex-direction",
        "flex-wrap",
        "flex-flow",
        "order",
        "flex-grow",
        "flex-shrink",
        "flex-basis",
        "flex",
        "gap",
        "row-gap",
        "column-gap",
        "font",
        "text-align",
        "width",
        "height",
        "margin",
        "padding",
        "border",
        "color",
        "background",
        "box-shadow"
      ],
      {
        "unspecified": "bottom"
      }
    ]
  }
}
