.characters {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.75rem;
    margin-bottom: 3rem;
}

.characterLink {
    text-decoration: none;
    z-index: 1;
}

.card {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1.5rem;
    background: var(--color-card-gradient);
    box-shadow: 0 6px 16px var(--color-shadow);
    border-radius: 14px;
    transition: 0.3s ease;
    overflow: hidden;
    border-left: 6px solid var(--characters-color-primary);
    border-bottom: 3px solid var(--characters-color-primary);
}

.card::before {
    position: absolute;
    content: '';
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: radial-gradient(circle at center, var(--characters-color-loader-border), transparent 60%);
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 0;
    pointer-events: none;
}

.card:hover {
    box-shadow: 0 14px 30px var(--color-shadow-hover);
    transform: translateY(-10px);
}

.card:hover::before {
    opacity: 1;
}

.avatar {
    display: block;
    width: 100%;
    height: 220px;
    min-width: 220px;
    max-width: 300px;
    object-fit: cover;
    border-radius: 8px;
}

.info {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.name {
    position: relative;
    display: inline-block;
    color: var(--characters-color-primary);
    background: linear-gradient(90deg, var(--characters-color-primary), var(--color-accent));
    font-family: "Bungee", sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.name::after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background-color: var(--characters-color-primary-hover);
    border-radius: 2px;
    transition: width 0.4s ease-in-out;
}

.card:hover .name::after {
    width: 100%;
}
