.header {
    position: relative;
    text-align: center;
    margin-bottom: 3rem;
}

.title {
    position: relative;
    display: inline-block;
    margin-bottom: 2rem;
}

.titleMain {
    display: block;
    padding: 0 0.1em 0.6rem;
    color: transparent;
    font-size: 3.5rem;
    font-weight: 900;
    background-clip: text;
    letter-spacing: -1px;
    line-height: 1;
}

.charactersTitle {
    background: linear-gradient(90deg, var(--characters-color-primary), var(--color-accent));
    background-clip: text;
}

.locationsTitle {
    background: linear-gradient(90deg, var(--locations-color-primary), var(--color-accent));
    background-clip: text;
}

.episodesTitle {
    background: linear-gradient(90deg, var(--episodes-header-color-primary), var(--color-accent));
    background-clip: text;
}

.titleSub {
    display: block;
    color: var(--color-primary-light);
    font-size: 1.25rem;
    font-weight: 300;
    margin-top: 0.5rem;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.searchContainer {
    position: relative;
    margin: 0 auto;
    max-width: 600px;
}

.searchInput {
    width: 100%;
    padding: 1rem 1.5rem 1rem 3rem;
    border: 0;
    color: var(--color-text);
    border-radius: 50px;
    background-color: var(--color-background);
    font-size: 1rem;
    transition: all 0.3s ease;
}

.searchInput:focus {
    box-shadow: unset;
    outline: none;
    background-color: #f0f0f0;
}

.charactersSearchInput:focus {
    box-shadow: 0 0 0 2px var(--characters-color-loader-border);
}

.locationsSearchInput:focus {
    box-shadow: 0 0 0 2px var(--locations-color-loader-border);
}

.episodesSearchInput:focus {
    box-shadow: 0 0 0 2px var(--episodes-color-loader-border);
}

.searchInput::placeholder {
    color: var(--color-placeholder);
}

.searchIcon {
    position: absolute;
    top: 50%;
    left: 1rem;
    display: flex;
    align-items: center;
    color: var(--color-placeholder);
    transform: translateY(-50%);
}

.searchIcon svg {
    stroke-width: 2;
}
