.errorMessage {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin: 2rem auto;
    padding: 1rem;
    color: var(--color-background);
    background-color: var(--color-danger);
    border-radius: 4px;
    max-width: 600px;
}

.errorMessage svg {
    stroke-width: 2;
}