.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
    --font-size: 20px;
}

.navButton {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    border: none;
    color: var(--color-background);
    background-color: var(--episodes-primary-color);
    border-radius: 50px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease;
    font-size: var(--font-size);
}

.charactersNav {
    background-color: var(--characters-color-primary);
}

.navButton.charactersNav:hover:not(:disabled) {
    background-color: var(--characters-color-primary-hover);
    transform: translateY(-2px);
}

.navButton.charactersNav:active:not(:disabled) {
    background-color: var(--characters-color-primary-active);
}

.locationsNav {
    background-color: var(--locations-color-primary);
}

.navButton.locationsNav:hover:not(:disabled) {
    background-color: var(--locations-color-primary-hover);
    transform: translateY(-2px);
}

.navButton.locationsNav:active:not(:disabled) {
    background-color: var(--locations-color-primary-active);
}

.episodesNav {
    background-color: var(--episodes-primary-color);
}

.navButton.episodesNav:hover:not(:disabled) {
    background-color: var(--episodes-primary-color-hover);
    transform: translateY(-2px);
}

.navButton.episodesNav:active:not(:disabled) {
    background-color: var(--episodes-primary-color-active);
}

.navButton.previous {
    padding: .75rem 1.5rem .75rem .8rem;
}

.navButton.next {
    padding: .8rem .75rem .75rem 1.5rem;
}

.navButton svg {
    stroke-width: 2;
}

.navButton:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.disabled {
    background-color: var(--color-disabled);
}

.pageIndicator {
    color: var(--color-primary-light);
    font-size: 1.2rem;
}
