.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}

.navButton {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: var(--color-primary);
    color: var(--color-background);
    border: none;
    border-radius: 50px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease;
}

.navButton.previous {
    padding: .75rem 1.5rem .75rem .8rem;
}

.navButton.next {
    padding: .8rem .75rem .75rem 1.5rem;
}

.navButton svg {
    stroke-width: 2;
}

.navButton:hover:not(:disabled) {
    background-color: var(--color-primary-dark);
    transform: translateY(-2px);
}

.navButton:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.disabled {
    background-color: var(--color-disabled);
}

.pageIndicator {
    color: var(--color-primary-light);
    font-size: 0.9rem;
}
